@{
  string absolutepath = HttpContext.Current.Request.Url.AbsolutePath;
  var styleDivCenterDesktop = "position: absolute; top: 0; left: 0; height: 100%; width: 100%; right: 0; bottom: 0;";
  var styleContentCenterDeskopFlashSale = "font-size: 40px; color: white; display: flex; justify-content: center; align-items: center; height: 100%;";
  var styleContentCenterDeskop = "display: block; color: black; justify-content: center; align-items: center; height: 100%;";
}

@if (absolutepath.Equals("/new-arrivals")) {
  <div class="row d-none d-md-block carousel" style="margin: 15px 0; margin-bottom: 0; position: relative;"> 
    <img class="d-block w-100" src="@String.Format("/Content/Images/uploaded/categories/{0}.jpg", Model.SeName)"> 
    <div class="text-center" style="@styleDivCenterDesktop">
      <h1 style="@styleContentCenterDeskopFlashSale">@Model.Name</h1>
    </div>
  </div>

  <div class="row d-block d-md-none carousel" style="position: relative;"> 
    <img style="left: 50%; position: relative; transform: translateX(-50%);" class="d-block" src="@String.Format("/Content/Images/uploaded/categories/{0}.jpg", Model.SeName)"> 
    <div class="text-center" style="@styleDivCenterDesktop">
      <h1 style="@styleContentCenterDeskopFlashSale">@Model.Name</h1>
    </div>
  </div>
} else {
  <div class="row d-none d-md-block carousel" style="margin: 15px 0; margin-bottom: 0; position: relative;"> 
    <img class="d-block w-100" src="@String.Format("/Content/Images/uploaded/categories/{0}.jpg", Model.SeName)"> 
    <div class="text-center" style="@styleDivCenterDesktop">
    </div>
  </div>

  @* header mobile *@
  <div class="row d-block d-md-none carousel" style="margin: 0 -30px 40px; position: relative;"> 
    <div class="text-center" style="@styleDivCenterDesktop">
      <h1 style="@styleContentCenterDeskop">@Model.Name</h1>
    </div>
  </div>
}