@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

@section Left{

    @*@Html.Partial("MenuStatic")*@

    @*@if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }*@

}

@functions{
    public string FormatOrderId(int orderId)
    {
        if (orderId > 99999999)
            return orderId.ToString();
        else
            return orderId.ToString("D5");
    }
}





        <div class="row" style="margin: 50px auto 0; max-width: 990px;">
            <div class="col-12 col-md-6 col-sm-6">
                <img src="~/Themes/v1/Content/images/header-1-img.jpg" class="img-fluid" style="padding: 30px;"/>
            </div>
            <div class="col-12 col-md-6 col-sm-6" style="padding: 30px; text-align: left; align-self: center;">
                <p class="worksans-medium p-0 m-0" style="color: #9D5D3E; font-size: 20px;">Thank You!<br>Your order has been received</p>
                <p class="mt-4 worksans-reg p-0 m-0" style="font-size: 30px; color: #2F2F2F">Your order ID 
                    <span class="checkout-completed-orderid">
                        <a class="worksans-medium" href="/order/history" style="font-size: 30px;">
                            #@FormatOrderId(Model.OrderId)
                        </a>
                    </span>
                </p>
                <p class="mt-4 p-0 m-0 worksans-reg" style="font-size: 14px; color: #454545;">You will receive an order confirmation email with </p>
                <p class="p-0 m-0 worksans-reg" style="font-size: 14px; color: #454545;">details of your order and a link to track its progress.</p>

                <div class="mt-4 d-none d-md-block">
                    <button onclick="location.href='/order/ConfirmPayments'" type="submit" class="btn btn-default">Payment Confirmation</button>
                </div>

            </div>
        </div>
        @* <p style="color:#969696; text-transform:uppercase; margin-top:40px;">@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</p>
        <p class="mt-4" style="font-size:1.5rem;">Your Order# <span class="checkout-completed-orderid"><a href="@Url.RouteUrl("OrderDetails", new { orderID = Html.AttributeEncode(Model.OrderId) })">@FormatOrderId(Model.OrderId)</a></span></p>
        <p class="mt-4">
            If you choose to pay via Bank transfer, please make your payment directly into one of the following bank accounts and include your order number as the payment reference.<br />
            <strong>BCA</strong><br />Account No.: 000-000-2292<br />Beneficiary Name: XXX XXX
            <br /><br />
            <strong>Mandiri</strong><br />Account No.: 168-00000-0000<br />Beneficiary Name: XX XXX

        </p>
        <p style="color:#969696; text-transform:uppercase;">
            @T("Checkout.ThankYou")
        </p> *@
<br /><br /><br /><br /><br />




@section scripts {
    <script>
        $(document).ready(function () {
            function disableBack() { window.history.forward() }
            window.onload = disableBack();
            window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
        });
    </script>
}



<script>
    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
	//console.log(model);
</script>