<p class="m-0 p-0" style="color: #525252; font-size: 16px;">Loyal Points</p>
<p class="abhaya m-0 p-0" style="color: #525252; font-size: 23px;">200 pts</p>
<br/><br/>
<a class="account-setting d-none d-md-block" href="@Url.RouteUrl("CustomerInfo")"  style="color: #525252; font-size: 16px;">Settings</a>
<a class="account-setting d-block d-md-none" href="@Url.RouteUrl("CustomerInfo")" onclick="openAccount();" style="color: #525252; font-size: 16px;">Settings</a>
<a class="change-password-setting" href="/customer/changepassword" style="color: #525252; font-size: 16px;">Change Password</a><br/>
<a class="address-setting" href="~/customer/addressAdd" style="color: #525252; font-size: 16px;">Address</a><br/>
<a class="order-setting" href="@Url.RouteUrl("CustomerOrders")" style="color: #525252; font-size: 16px;">Order History</a><br/>
<a class="wishlist-setting" href="@Url.RouteUrl("Wishlist")" style="color: #525252; font-size: 16px;">Wishlist</a><br/>
<a class="logout-setting" href="@Url.RouteUrl("Logout")" style="color: #525252; font-size: 16px;">Logout</a><br/>


<script>
    let changeColor = window.location.pathname == `/customer/info` ? ".account-setting" : 
        window.location.pathname == `/customer/addressAdd` ? ".address-setting" : 
        window.location.pathname.includes(`/customer/addressedit`) ? ".address-setting" : 
        window.location.pathname == `/customer/changepassword` ? ".change-password-setting" : 
        window.location.pathname == `/order/history` ? ".order-setting" : 
        window.location.pathname == `/customer/wishlist` ? ".wishlist-setting" : null;
    $(`${changeColor}`).css("cssText", 'color: #E1C2A4 !important; font-size: 16px;');
    $(`${changeColor}`).attr("href", `#`);

</script>
