@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //ViewBag.HideMenu = "true";
    //ViewBag.HideDesktopMenu = "true";
}
@section left
{
    @*@Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })*@
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-main-setting" style="margin-top:  50px;">
        @Html.Partial("_SettingBreadcrumb")

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="d-none d-md-block">
                    @Html.Partial("_SubMenuSetting")
                </div>
            </div>
            <div class="col-12 col-sm-9 col-md-9">
                @*@Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword, isMobile = true })*@

                <h1 class="text-left mb-5 d-none d-md-block">@T("Account.ChangePassword")</h1>
                <h1 class="text-center mb-5 d-block d-md-none">@T("Account.ChangePassword")</h1>
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }

                <div class="fieldset">

                    <div class="form-group">
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Current password" } })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", placeholder = "New password" } })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm new password" } })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                    <div class="form-group">
                        <div class="buttons">
                            <input class="btn btn-default" type="submit" value="@T("Account.ChangePassword.Button")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}