@using Nop.Core.Domain.Discounts;
@model IEnumerable<Discount>


@{
  string absolutepath = HttpContext.Current.Request.Url.AbsolutePath;
  bool homepage = absolutepath.Equals("/") ? true : false;
}

@if (homepage) {
    <div class="row mb-5 m-0 p-0 d-flex justify-content-center align-center" style="position: absolute; width: 100%; bottom: -35px; color: white;">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var temp = Model.ToList();
            var discount = temp[i];
            if (discount.CouponCode != null) {
                @* var offset = i == 0 ? "offset-md-2 offset-sm-2" : "";
                <div class="col-12 col-md-4 col-sm-4 @offset">
                    <div class="row p-3 m-0">
                        <div class="col-9 col-md-9 col-sm-9 text-center body-coupon">
                            @if (discount.CouponCode != null) {
                                <p style="font-size: 17px; font-weight: 400; line-height: 20px;" class="text-white d-flex justify-content-center align-items-center p-0 m-0">@Convert.ToInt32(discount.DiscountPercentage)% Off by using coupon code</p> 
                                <p style="font-size: 17px; font-weight: 600; margin-top: -20px !important;" class="text-white d-flex justify-content-center align-items-center p-0 m-0" id="copy-coupon-@i">@discount.CouponCode</p> 
                            }
                            else {
                                <p style="font-size: 17px; font-weight: 400; line-height: 20px;" class="text-white d-flex justify-content-center align-items-center p-0 m-0">@Convert.ToInt32(discount.DiscountPercentage)% Off by using coupon code</p> 
                            }
                        </div>
                        <div onclick="copyCouponCodeHome(@i)" class="col-3 col-md-3 col-sm-3 text-center d-flex justify-content-center align-items-center body-coupon" style="cursor: pointer;">
                            <p class="copy-voucher-@i p-0 m-0" style="font-size: 17px; color: white; text-decoration: none;"  id="copy-@i" data-toggle="tooltip" data-placement="top" title="Copy text">Copy</p>
                        </div>
                    </div>
                </div> *@
                <div class="row p-3 m-0">
                    <div class="col-9 col-md-9 col-sm-9 text-center body-coupon">
                        @if (discount.DiscountPercentage != 0) {
                            <p style="font-size: 17px; font-weight: 400; line-height: 20px;" class="text-white d-flex justify-content-center align-items-center p-0 m-0">@Convert.ToInt32(discount.DiscountPercentage)% Off by using coupon code</p> 
                        }
                        else if (discount.DiscountAmount != 0) {
                            <p style="font-size: 17px; font-weight: 400; line-height: 20px;" class="text-white d-flex justify-content-center align-items-center p-0 m-0">@Convert.ToInt32(discount.DiscountAmount) IDR Off by using coupon code</p> 
                        }
                        <p style="font-size: 17px; font-weight: 600; margin-top: -20px !important;" class="text-white d-flex justify-content-center align-items-center p-0 m-0" id="copy-coupon-@i">@discount.CouponCode</p> 
                    </div>
                    <div onclick="copyCouponCodeHome(@i)" class="col-3 col-md-3 col-sm-3 text-center d-flex justify-content-center align-items-center body-coupon" style="cursor: pointer;">
                        <p class="copy-voucher-@i p-0 m-0" style="font-size: 17px; color: white; text-decoration: none;"  id="copy-@i" data-toggle="tooltip" data-placement="top" title="Copy text">Copy</p>
                    </div>
                </div>
            }
        }
    </div>

} else {
    for (int i = 0; i < Model.Count(); i++)
    {
        var temp2 = Model.ToList();
        var discount2 = temp2[i];
        if (discount2.CouponCode != null) {
            <div id="disc-@i" class="row mt-3 m-0 disc-div" style="line-height: 15px; font-size: 12px; text-align: center; ">
                <div style="display: grid; align-items: center; width: 65%; height: 80px; border-left: 1px solid #707070; border-bottom: 1px solid #707070; border-top: 1px solid #707070;">
                    @if (discount2.DiscountPercentage != 0) {
                        <p class="m-0 p-0" style="font-size: 13px">@Convert.ToInt32(discount2.DiscountPercentage)% Off by using coupon code</p>
                    }
                    else if (discount2.DiscountAmount != 0) {
                        <p class="m-0 p-0" style="font-size: 13px">@Convert.ToInt32(discount2.DiscountAmount) IDR Off by using coupon code</p>
                    }
                    <b id="copy-coupon-@i" class="m-0 p-0" style="font-size: 15px">@discount2.CouponCode</b>
                    <p class="m-0 p-0" style="font-size: 9px">*T&C: one voucher per transaction</p>
                </div>
                <div id="apply-disc-@i" onclick="copyCouponCode(@i)" class="d-flex justify-content-center align-items-center" style="width: 35%; border: 1px solid #707070; cursor: pointer;">
                    APPLY
                </div>
            </div>
        }
    }
}


<script>
    async function copyCouponCode(value)
    {
        $("#checkout-step-button").prop("disabled", true);

        var dummy = document.createElement('input'),
        text = $("#copy-coupon-"+value).text();
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);

        $(".disc-div").each(function() {
            let id_content =parseInt($(this).attr("id").replace("disc-", ""), 10);
            if (value == id_content) {
                $(this).css("background-color", "#CECECE");
                $("#apply-disc-"+id_content).text("APPLIED");
                $("#button-disc").text("REMOVE");
                $("#disc-text").val(text);
            } else {
                $(this).css("background-color", "transparent");
                $("#apply-disc-"+id_content).text("APPLY");
            }
        });

        try {
            var fetch_data = await FetchAjax("post", "/shoppingcart/ApplyCoupon", {discountcouponcode : text});
            alert(fetch_data.Message);
            if (fetch_data.IsApplied) {
                UpdateOrderTotal()
                checkout_obj.discount_code = text;
            }
        } catch (err) {
          console.log(err)
            $("#checkout-step-button").removeAttr('disabled');
        }
    }
    function copyCouponCodeHome (id) {
        var dummy = document.createElement('input'),
        text = $("#copy-coupon-"+id).text();
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        
        $("#copy-"+id).text("Copied")
        $(".copy-voucher-"+id).text("Copied")
        setTimeout(() => {
            $(".copy-voucher-"+id).text("Copy")
            $("#copy-"+id).text("Copy")
        }, 1000)
        
    }
</script>